{driver,
    basho_bench_driver_2i}.

{log_level, info}.

{measurement_driver,
    basho_bench_measurement_erlangvm}.

{measurements, [
    {memory, 1000},
    {cpu, 1000},
    {processes, 1000},
    {filehandles, 1000}
]}.

%%% LOAD SETTINGS %%%

{mode, max}.
{duration, 1}.
{concurrent, 3}.

%%% DATA SHAPE %%%

{key_generator, {uniform_int, 1000}}.
{value_generator, {fixed_bin, 1000}}.

{pb_ips, ["172.16.33.107", "172.16.33.138", "172.16.33.221", "172.16.34.56"]}.
{pb_replies, 1}.

{http_ips, ["172.16.33.107", "172.16.33.138", "172.16.33.221", "172.16.34.56"]}.
{http_port, 8098}.
{http_raw_ips, ["172.16.33.107", "172.16.33.138", "172.16.33.221", "172.16.34.56"]}.

%%It can also be configured for devrel!
%%{pb_ips, [{"127.0.0.1", 8081},
%%          {"127.0.0.1", 8082},
%%          {"127.0.0.1", 8083},
%%          {"127.0.0.1", 8084}
%%]}.
%%{pb_replies, 1}.
%%
%%{http_ips, [{"127.0.0.1", 8091},
%%            {"127.0.0.1", 8092},
%%            {"127.0.0.1", 8093},
%%            {"127.0.0.1", 8094}
%%]}.

{rng_seed, {1, 2, 3}}.

%% enforce_keyrange is for use with sequential_int
%% Will error if keys in a range are missing.
%%{enforce_keyrange, 10000}.

%%% MEASUREMENT SETTINGS %%%

{nodes, ['riak@172.16.33.107', 
         'riak@172.16.33.138', 
         'riak@172.16.33.221',
         'riak@172.16.34.56']}.
{cookie, riak}.
