%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
[
 {riak_api, [
            {pb_ip,   "0.0.0.0" },
            {pb_port, 8087 }
            ]},
 {kernel, [
          {inet_dist_listen_min, 6000},
          {inet_dist_listen_max, 7999}
 ]},
 {riak_core, [
              {ring_state_dir, "/mnt/db/riak/ring"},

              {ring_creation_size, 64},

              {http, [ {"0.0.0.0", 8098 } ]},

              {handoff_port, 8099 },

              {dtrace_support, false},

              {enable_health_checks, true},

              {platform_bin_dir, "/usr/sbin"},
              {platform_data_dir, "/mnt/db/riak"},
              {platform_etc_dir, "/etc/riak"},
              {platform_lib_dir, "/usr/lib/riak/lib"},
              {platform_log_dir, "/mnt/log/riak"}
             ]},

 {riak_kv, [
            {storage_backend, riak_kv_eleveldb_backend},
            {anti_entropy, {on, []}},
            {anti_entropy_build_limit, {1, 3600000}},
            {anti_entropy_expire, 604800000},
            {anti_entropy_concurrency, 2},
            {anti_entropy_tick, 15000},
            {anti_entropy_data_dir, "/mnt/db/riak/anti_entropy"},
            {anti_entropy_leveldb_opts, [{write_buffer_size, 8388608},
                                         {max_open_files, 20}]},
            {mapred_name, "mapred"},
            {mapred_2i_pipe, false},
            {map_js_vm_count, 8 },
            {reduce_js_vm_count, 6 },
            {hook_js_vm_count, 2 },
            {js_max_vm_mem, 8},
            {js_thread_stack, 16},
            {http_url_encoding, on},
            {vnode_vclocks, true},
            {listkeys_backpressure, true},
            {vnode_mailbox_limit, {1, 5000}}
           ]},

 {riak_search, [
                {enabled, false}
               ]},

 {merge_index, [
                {data_root, "/mnt/db/riak/merge_index"},
                {buffer_rollover_size, 1048576},
                {max_compact_segments, 20}
               ]},

 {eleveldb, [
             {data_root, "/mnt/db/riak/leveldb"},
             {max_open_files, 20},
             {block_size, 16384},
             {cache_size, 16777216}
            ]},

 {lager, [
            {handlers, [
                           {lager_file_backend, [
                               {"/mnt/log/riak/error.log", error, 10485760, "$D0", 5},
                               {"/mnt/log/riak/console.log", info, 10485760, "$D0", 5}
                           ]}
                       ] },

            {crash_log, "/mnt/log/riak/crash.log"},
            {crash_log_msg_size, 65536},
            {crash_log_size, 10485760},
            {crash_log_date, "$D0"},
            {crash_log_count, 5},
            {error_logger_redirect, true}
        ]},

 {riak_sysmon, [
         {process_limit, 30},
         {port_limit, 2},
         {gc_ms_limit, 0},
         {heap_word_limit, 40111000},
         {busy_port, true},
         {busy_dist_port, true}
        ]},

 {sasl, [
         {sasl_error_logger, false}
        ]},

 {riak_control, [
                {enabled, false},
                {auth, userlist},
                {userlist, [{"user", "pass"}
                           ]},
                {admin, true}
                ]}
].
