%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et


{mode, max}.

{duration, 300}.

{concurrent, 50}.

{log_level, warn}.

{driver, basho_bench_driver_http_raw}.

{operations, [{insert, 1}]}.
{key_generator, {partitioned_sequential_int,1356998400000, 20000000000000}}.
{value_generator, {fixed_bin, 1000}}.


{http_raw_ips, ["54.x.x.x", "204.x.x.x", "54.x.x.x", "54.x.x.x"]}.
{http_raw_port, 8098}.
