<div style="width:0px;overflow:hidden;height:0px;">
  <template id="search-result-title" hidden>
    <h1 class="front-matter__title"><br><span class="title-text"></span></h1>
    <div>
      <span class="title-project-name"></span>
      <span class="title-project-version"></span>
    </div>
  </template>
  <template id="search-result-item" hidden>
    <h3 class="result-title"><a class="result-title-link"></a></h3>
    <div>
      <span class="result-project-name"></span>
      <span class="result-project-version"></span>
    </div>
    <p class="result-summary"></summary>
    <div class="result-read-more-container">
      <a class="result-read-more-link">Read More »</a>
    </div>
  </template>
  <div id="search-results-wrapper"></div>
</div>