<!-- Variable Definitions
     ====================
-->

    {{ $message_id                := (index . "mailinglist_message_id")       }}
    {{ $origin_message_id         := (index . "origin_message_id")             }}
    {{ $pagePath                  := (print (strings.Trim  (.Site.BaseURL | absURL) "/") "/community/mailing-list/" $message_id)             }}

    <li class="mailinglist--thread--item">
    {{ range $messagePage := where (.Site.RegularPages.ByParam "sent_date") ".Params.mailinglist_id" $message_id  }}
        {{ $title                  := (index $messagePage.Params "title")             }}
        {{ $pageAuthor             := (index $messagePage.Params "author_name")       }}
        {{ if (eq $message_id $origin_message_id)}}
        <span class="mailinglist--thread--currentitem">{{ $title }}<span class="mailinglist--thread--itemauthor"> by {{ $pageAuthor}}</span></span>
        {{ else }}
        <span class="mailinglist--thread--childitem"><a href="{{- $pagePath -}}">{{ $title }}</a><span class="mailinglist--thread--itemauthor"> by {{ $pageAuthor}}</span></span>
        {{ end }}
    {{ end }}

    {{ $children     := where (.Site.RegularPages.ByParam "sent_date") ".Params.mailinglist_parent_id" $message_id  }}
    {{ $has_children := gt (len $children) 0 }}

    {{ if $has_children }}
    <ul class="mailinglist--thread--itemchildren">
    {{ range $childPage := $children  }}
        {{ $child_id                  := (index $childPage.Params "mailinglist_id")             }}
        {{ if $child_id }}
            <!-- render item -->
            {{ $threadDict := (dict   "Site" .Site   "mailinglist_message_id"  $child_id  "origin_message_id" $origin_message_id) }}
            {{ partial "mailinglist-thread-child.html" $threadDict }}
        {{ end }}
        {{ end }}
    </ul>
    {{ end }}
    </li>
