<!-- Variable Definitions
     ====================
-->

    {{ $itemPath                  := "/community/mailing-list/" }}
    {{ $message_id                := (index . "mailinglist_message_id")       }}
    {{ $origin_message_id         := (index . "origin_message_id")             }}
    {{ $pagePath                  := (print $itemPath $message_id)             }}
    {{ range $messagePage := where (.Site.RegularPages.ByParam "sent_date") ".Params.mailinglist_id" $message_id  }}
        {{ $parent_id                  := (index $messagePage.Params "mailinglist_parent_id")             }}
        {{ if $parent_id }}
            <!-- recurse upwards to find ultimate parent -->
            {{ $threadDict := (dict   "Site" .Site   "mailinglist_message_id"  $parent_id  "origin_message_id" $origin_message_id) }}
            {{ partial "mailinglist-thread-parent.html" $threadDict }}
        {{ else }}
            <!-- render item -->
            <div class="mailinglist--thread--title">Thread:</div>
            <ul class="mailinglist--thread--start">
            {{ $threadDict := (dict   "Site" .Site   "mailinglist_message_id"  $message_id  "origin_message_id" $origin_message_id) }}
            {{ partial "mailinglist-thread-child.html" $threadDict }}
            </ul>
        {{ end }}
    {{ end }}
